name: CI

on:
  push:
  pull_request:

jobs:
  lint-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v2
        with:
          version: "0.4.10"

      - name: Sync dependencies
        run: uv sync --all-extras --dev

      - name: Run Ruff
        run: uv run ruff check .

      - name: Run Yamllint
        run: uv run yamllint .

      - name: Run Pytest
        run: uv run pytest --maxfail=1 --disable-warnings -q
